@using System.Security.Claims
@{

    
    var userrole = "";
    var username = "";
    bool IsActive = false;

    if(TempData["UserName"] != null)
    {
        username = TempData["UserName"].ToString();
    }

    if(TempData["Role"] != null)
    {
         userrole = TempData["Role"].ToString();
    }
     if(Convert.ToBoolean(TempData["IsActive"])){
        IsActive = true;
    }
    
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>TRADE LENDA INVENTORY</title>

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">   
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="~/assets/plugins/intltelinput/css/intlTelInput.css">
    <link rel="stylesheet" href="~/assets/plugins/intltelinput/css/demo.css">

    <link rel="stylesheet" href="~/assets/plugins/boxicons/css/boxicons.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fancybox/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/assets/plugins/swiper/swiper.min.css">
    
   @*  <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap5.min.css">  *@  

    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.5.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
</head>

<body>
    @* <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div> *@

    <div class="main-wrapper">
                
        <div class="header">

            <div class="header-left active">
                <a href="index.html" class="logo logo-normal">
                    <img src="~/assets/img/trade-lenda.png" alt>
                </a>
                <h4>INVENTORY</h4>
                <a href="index.html" class="logo logo-white">
                    <img src="assets/img/logo-white.png" alt>
                </a>
                <a href="index.html" class="logo-small">
                    <img src="assets/img/logo-small.png" alt>
                </a>
                <a id="toggle_btn" href="#;">
                    <i data-feather="chevrons-left" class="feather-16"></i>
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item nav-searchinputs">
                    <div class="top-nav-search">
                        <a href="#;" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#" class="dropdown">
                            @* <div class="searchinputs dropdown-toggle" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="false">
                                <input type="text" placeholder="Search">
                                <div class="search-addon">
                                    <span><i data-feather="x-circle" class="feather-14"></i></span>
                                </div>
                            </div>
                            <div class="dropdown-menu search-dropdown" aria-labelledby="dropdownMenuClickable">
                                <div class="search-info">
                                    <h6>
                                        <span><i data-feather="search" class="feather-16"></i></span>Recent Searches
                                    </h6>
                                    <ul class="search-tags">
                                        <li><a href="#;">Products</a></li>
                                        <li><a href="#;">Sales</a></li>
                                        <li><a href="#;">Applications</a></li>
                                    </ul>
                                </div>
                                <div class="search-info">
                                    <h6><span><i data-feather="help-circle" class="feather-16"></i></span>Help</h6>
                                    <p>How to Change Product Volume from 0 to 200 on Inventory management</p>
                                    <p>Change Product Name</p>
                                </div>
                                <div class="search-info">
                                    <h6><span><i data-feather="user" class="feather-16"></i></span>Customers</h6>
                                    <ul class="customers">
                                        <li>
                                            <a href="#;">Aron Varu<img src="assets/img/profiles/avator1.jpg" alt class="img-fluid"></a>
                                        </li>
                                        <li>
                                            <a href="#;">Jonita<img src="assets/img/profiles/avatar-01.jpg" alt class="img-fluid"></a>
                                        </li>
                                        <li>
                                            <a href="#;">Aaron<img src="assets/img/profiles/avatar-10.jpg" alt class="img-fluid"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div> *@
                        </form>
                    </div>
                </li>


                <li class="nav-item dropdown has-arrow main-drop select-store-dropdown">
                    @* <a href="#;" class="dropdown-toggle nav-link select-store" data-bs-toggle="dropdown">
                        <span class="user-info">
                            <span class="user-letter">
                                <img src="assets/img/store/store-01.png" alt="Store Logo" class="img-fluid">
                            </span>
                            <span class="user-detail">
                                <span class="user-name">Select Store</span>
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/store/store-01.png" alt="Store Logo" class="img-fluid"> Grocery Alpha
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/store/store-02.png" alt="Store Logo" class="img-fluid"> Grocery Apex
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/store/store-03.png" alt="Store Logo" class="img-fluid"> Grocery Bevy
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/store/store-04.png" alt="Store Logo" class="img-fluid"> Grocery Eden
                        </a>
                    </div> *@
                </li>


                <li class="nav-item dropdown has-arrow flag-nav nav-item-box">
                   @*  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#;" role="button">
                        <img src="assets/img/flags/us.png" alt="Language" class="img-fluid">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#;" class="dropdown-item active">
                            <img src="assets/img/flags/us.png" alt height="16"> English
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/flags/fr.png" alt height="16"> French
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/flags/es.png" alt height="16"> Spanish
                        </a>
                        <a href="#;" class="dropdown-item">
                            <img src="assets/img/flags/de.png" alt height="16"> German
                        </a>
                    </div> *@
                </li>

                <li class="nav-item nav-item-box">
                    <a href="#;" id="btnFullscreen">
                        <i data-feather="maximize"></i>
                    </a>
                </li>
                <li class="nav-item nav-item-box">
                    @* <a href="email.html">
                        <i data-feather="mail"></i>
                        <span class="badge rounded-pill">1</span>
                    </a> *@
                </li>

                <li class="nav-item dropdown nav-item-box">
                    <a href="#;" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i data-feather="bell"></i><span class="badge rounded-pill">2</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="#" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt src="~/assets/img/profiles/avatar-03.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">
                                                        Appointment booking
                                                        with payment gateway
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt src="assets/img/profiles/avatar-06.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt src="assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt src="assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span>
                                                </p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item nav-item-box">
                    <a asp-controller="Settings" asp-action="Profile"><i data-feather="settings"></i></a>
                </li>
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="#;" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-info">
                            <span class="user-letter">
                                <img src="~/assets/img/profiles/avator1.jpg" alt class="img-fluid">
                            </span>
                            <span class="user-detail">
                                @if(username != null && userrole != null){
                                    <span class="user-name">@username </span>
                                    <span class="user-role">@userrole</span>
                                }
                                
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/assets/img/profiles/avator1.jpg" alt>
                                    <span class="status online"></span>
                                </span>
                                
                                    @if (username != null && userrole != null)
                                    {
                                        <div class="profilesets">
                                            <h6>@username </h6>
                                            <h5>@userrole</h5>
                                         </div>
                                    }
                               
                            </div>
                            
                        @*     @if(IsActive){ *@
                                
                            <hr class="m-0">
                            
                            <a class="dropdown-item" asp-controller="User" asp-action="GetUserProfile"> <i class="me-2" data-feather="user"></i> My Profile</a>
                            <a class="dropdown-item" asp-controller="Settings" asp-action="Profile"><i class="me-2" data-feather="settings"></i>Settings</a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" asp-controller="Auth" asp-action="SignIn"><img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
                            

                        </div>
                    </div>
                </li>
            </ul>
            </div>

            <div class="dropdown mobile-user-menu">
                <a href="#;" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="general-settings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">Main</h6>
                            <ul>
                                <li class="submenu">
                                    <a href="javascript:void(0);"><i data-feather="grid"></i><span>Dashboard</span><span class="menu-arrow"></span></a>
                                    <ul>
                                   
                                         <li><a asp-controller="Sales" asp-action="Index">Sales Dashboard</a></li>
                                    
                                    </ul>
                                </li>
                                
                            </ul>
                        </li>

                            <li class="submenu-open">
                                <h6 class="submenu-hdr">Inventory</h6>
                                <ul>
                                    <li><a href="~/InventoryManagement/GetProductList"><i data-feather="box"></i><span>Products</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="AddProduct"><i data-feather="plus-square"></i><span>Create Product</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="GetExpiredProduct"><i data-feather="codesandbox"></i><span>Expired Products</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="GetLowStockProducts"><i data-feather="trending-down"></i><span>Low Stocks</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="GetCategory"><i data-feather="codepen"></i><span>Category</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="GetBrand"><i data-feather="tag"></i><span>Brands</span></a></li>                            
                                    <li><a asp-controller="InventoryManagement" asp-action="CreateBarcode"><i data-feather="align-justify"></i><span>Print Barcode</span></a></li>
                                    <li><a asp-controller="InventoryManagement" asp-action="GetQRCode"><i data-feather="align-justify"></i><span>Print QR Code</span></a></li>
                                </ul>
                            </li>
                        

                    <li class="submenu-open">
                        <h6 class="submenu-hdr">Stock</h6>
                        <ul>

                            <li><a asp-controller="Stock" asp-action="GetStock"><i data-feather="package"></i><span>Manage Stock</span></a></li>
                            <li><a asp-controller="Stock" asp-action="StockADjustment"><i data-feather="clipboard"></i><span>Stock Adjustment</span></a></li>
                            <li><a asp-controller="Stock" asp-action="StockTransfer"><i data-feather="truck"></i><span>Stock Transfer</span></a></li>


                        </ul
                    </li>

                
                        <li class="submenu-open">

                            <h6 class="submenu-hdr">Sales</h6>
                            <ul>
                                <li><a asp-controller="Sales" asp-action="GetSales"><i data-feather="shopping-cart"></i><span>Sales</span></a></li>
                                <li><a asp-controller="Sales" asp-action="GetSalesInvoice"><i data-feather="file-text"></i><span>Invoices</span></a></li>
                                <li><a asp-controller="Sales" asp-action="GetSalesReturn"><i data-feather="copy"></i><span>Sales Return</span></a></li>
                                <li><a href="quotation-list.html"><i data-feather="save"></i><span>Quotation</span></a></li>

                            </ul>
                        </li>
                 

                   

                        <li><a asp-controller="Sales" asp-action="POS"><i data-feather="hard-drive"></i><span>POS</span></a></li>
                    
               
                
                    <li class="submenu-open">
                        <h6 class="submenu-hdr">Purchases</h6>
                        <ul>
                            <li><a asp-controller="Purchase" asp-action="GetPurchase"><i data-feather="shopping-bag"></i><span>Purchases</span></a></li>
                            <li><a asp-controller="Purchase" asp-action="GetPurchaseOrderReport"><i data-feather="file-minus"></i><span>Purchase Order</span></a></li>
                            <li><a asp-controller="Purchase" asp-action="GetPurchaseReturn"><i data-feather="refresh-cw"></i><span>Purchase Return</span></a></li>
                        </ul>
                    </li>

                

                       
                        
                        
                       @*  @if(userrole  == "SuperAdmin" || userrole  == "Admin")
                        { *@

                          @*This is for admin*@

                        @* <li class="submenu-open">
                            <h6 class="submenu-hdr">Peoples</h6>
                            <ul>
                                <li><a asp-controller="Peoples" asp-action="GetCustomer"><i data-feather="user"></i><span>Customers</span></a></li>
                                <li><a asp-controller="Peoples" asp-action="GetSupplier"><i data-feather="users"></i><span>Suppliers</span></a></li>
                                <li><a asp-controller="Peoples" asp-action="GetStore"><i data-feather="home"></i><span>Stores</span></a></li>
                                <li>
                                    <a asp-controller="Peoples" asp-action="GetWarehouse"><i data-feather="archive"></i><span>Warehouses</span></a>
                                </li>
                            </ul>
                        </li> *@
                        
                        
                    
                       @*  <li class="submenu-open">
                            <h6 class="submenu-hdr">Reports</h6>
                            <ul>
                                <li><a href="sales-report.html"><i data-feather="bar-chart-2"></i><span>Sales Report</span></a></li>
                                <li><a href="purchase-report.html"><i data-feather="pie-chart"></i><span>Purchase report</span></a></li>
                                <li><a href="inventory-report.html"><i data-feather="inbox"></i><span>Inventory Report</span></a></li>
                               @*  <li><a href="invoice-report.html"><i data-feather="file"></i><span>Invoice Report</span></a></li>
                                <li><a href="supplier-report.html"><i data-feather="user-check"></i><span>Supplier Report</span></a></li>
                                <li><a href="customer-report.html"><i data-feather="user"></i><span>Customer Report</span></a></li>
                                <li><a href="expense-report.html"><i data-feather="file"></i><span>Expense Report</span></a></li>
                                <li><a href="income-report.html"><i data-feather="bar-chart"></i><span>Income Report</span></a></li>
                                <li><a href="tax-reports.html"><i data-feather="database"></i><span>Tax Report</span></a></li>
                                <li><a href="profit-and-loss.html"><i data-feather="pie-chart"></i><span>Profit & Loss</span></a></li> 
                            </ul>
                        </li> *@
                        @* <li class="submenu-open">
                            <h6 class="submenu-hdr">User Management</h6>
                            <ul>
                                <li><a asp-controller="User" asp-action="GetUser"><i data-feather="user-check"></i><span>Users</span></a></li>
                            <li><a asp-controller="User" asp-action="AddRoles"><i data-feather="shield"></i><span>Roles & Permissions</span></a></li>
                                <li><a href="delete-account.html"><i data-feather="lock"></i><span>Delete Account Request</span></a></li>
                            </ul>
                        </li> *@
                        
                       @*  <li class="submenu-open">
                            <h6 class="submenu-hdr">Settings</h6>
                            <ul>
                                <li class="submenu">
                                    <a href="#;"><i data-feather="settings"></i><span>General Settings</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a asp-controller="Settings" asp-action="Profile">Profile</a></li>
                                        @* <li><a href="security-settings.html">Security</a></li> 
                                        <li><a href="notification.html">Notifications</a></li>
                                        @* <li><a href="connected-apps.html">Connected Apps</a></li> 
                                    </ul>
                                </li>
                              
                                <li class="submenu">
                                    <a href="#;">
                                        <i data-feather="smartphone"></i>
                                        <span>App Settings</span><span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="invoice-settings.html">Invoice</a></li>
                                        @* <li><a href="printer-settings.html">Printer</a></li>
                                        <li><a href="pos-settings.html">POS</a></li>
                                        <li><a href="custom-fields.html">Custom Fields</a></li> 
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#;">
                                        <i data-feather="monitor"></i>
                                        <span>System Settings</span><span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="email-settings.html">Email</a></li>
                                        @* <li><a href="sms-gateway.html">SMS Gateways</a></li>
                                        <li><a href="otp-settings.html">OTP</a></li>
                                        <li><a href="gdpr-settings.html">GDPR Cookies</a></li> *@
                                    </ul>
                                </li>
                               @*  <li class="submenu">
                                    <a href="#;">
                                        <i data-feather="dollar-sign"></i>
                                        <span>Settings</span><span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="payment-gateway-settings.html">Payment Gateway</a></li>
                                        <li><a href="bank-settings-grid.html">Bank Accounts</a></li>
                                        <li><a href="tax-rates.html">Tax Rates</a></li>
                                        <li><a href="currency-settings.html">Currencies</a></li>
                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a href="#;">
                                        <i data-feather="hexagon"></i>
                                        <span>Other Settings</span><span class="menu-arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href="storage-settings.html">Storage</a></li>
                                        <li><a href="ban-ip-address.html">Ban IP Address</a></li>
                                    </ul>
                                </li> 
                                <li>
                                    <a href="signin.html"><i data-feather="log-out"></i><span>Logout</span> </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">Help</h6>
                            <ul>
                                <li><a href="#;"><i data-feather="file-text"></i><span>Documentation</span></a></li>
                                <li><a href="#;"><i data-feather="lock"></i><span>Changelog v2.0.7</span></a></li>
                                <li class="submenu">
                                    <a href="#;"><i data-feather="file-minus"></i><span>Multi Level</span><span class="menu-arrow"></span></a>
                                    <ul>
                                        <li><a href="#;">Level 1.1</a></li>
                                        <li class="submenu submenu-two">
                                            <a href="#;">Level 1.2<span class="menu-arrow inside-submenu"></span></a>
                                            <ul>
                                                <li><a href="#;">Level 2.1</a></li>
                                                <li class="submenu submenu-two submenu-three">
                                                    <a href="#;">Level 2.2<span class="menu-arrow inside-submenu inside-submenu-two"></span></a>
                                                    <ul>
                                                        <li><a href="#;">Level 3.1</a></li>
                                                        <li><a href="#;">Level 3.2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                            </ul>
                        </li> 
                    </ul>
                </div>
            </div>

       </div>
        <div class="">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        @* <script src="~/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="~/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="~/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> *@
    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="~/assets/js/jquery-3.7.1.min.js" type="text/javascript"></script>

        <script src="~/assets/js/feather.min.js" type="text/javascript"></script>

        <script src="~/assets/js/jquery.slimscroll.min.js" type="text/javascript"></script>

        @* <script src="~/assets/js/jquery.dataTables.min.js" type="text/javascript"></script> *@
        @*  <script src="~/assets/js/dataTables.bootstrap5.min.js" type="text/javascript"></script> *@

        <script src="~/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="~/assets/js/moment.min.js" type="text/javascript"></script>

        
        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>


        <script src="~/assets/plugins/apexchart/apexcharts.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/apexchart/chart-data.js" type="text/javascript"></script>

        <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/sweetalert/sweetalerts.min.js" type="text/javascript"></script>


        <script src="~/assets/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <script src="~/assets/plugins/summernote/summernote-bs4.min.js" type="text/javascript"></script>

        <script src="~/assets/plugins/intltelinput/js/intlTelInput.js" type="text/javascript"></script>

        <script src="~/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>


        <script src="~/assets/plugins/swiper/swiper.min.js" type="text/javascript"></script>

        <script src="~/assets/plugins/fancybox/jquery.fancybox.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.5.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-ru-mill.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-uk_countries-mill.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jvectormap/jquery-jvectormap-in-mill.js" type="text/javascript"></script>
        <script src="~/assets/js/jvectormap.js" type="text/javascript"></script>
        
        <script src="~/assets/js/script.js" type="text/javascript"></script>
    <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="9110e14dae4e2dea1eedcb15-|49" type="text/javascript" defer></script>
    @* <script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" type="text/javascript"></script> *@
        <script>
            $(document).ready(function () {
                $('#menuToggle').click(function (e) {
                    e.preventDefault(); // Prevent the default anchor behavior
                    $('#menuItems').slideToggle();
                });

                $(document).click(function (e) {
                    if (!$(e.target).closest('.submenu').length) {
                        $('#menuItems').slideUp();
                    }
                });
            });
        </script>
  
        @await RenderSectionAsync("Scripts", required: false)   
   
</body>

</html>