@model RegisterModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper register-wrap bg-img">
            <div class="login-content">
                <form asp-controller="Auth" asp-action="Register" method="post">
                    <div class="login-userset">
                        <div class="login-logo logo-normal">
                            <img src="~/assets/img/trade-lenda.png" alt="img">
                        </div>
                        <a href="#" class="login-logo logo-white">
                            <img src="~/assets/img/logo-white.png" alt>
                        </a>
                        <div class="login-userheading">
                            <h3>Register</h3>
                            <h4>Create New Dreamspos Account</h4>
                        </div>
                        <div class="form-login">
                            <label>Name</label>
                            <div class="form-addons">
                                <input asp-for="Name" type="text" class="form-control">
                                <img src="~/assets/img/icons/user-icon.svg" alt="img">
                            </div>
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-login">
                            <label>Email Address</label>
                            <div class="form-addons">
                                <input asp-for="Email" type="text" class="form-control">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                            <span asp-validation-for="Email" color="red"></span>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input asp-for="Password" type="password" class="pass-input">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                            <span asp-validation-for="Password" color="red"></span>
                        </div>
                        <div class="form-login">
                            <label>Confirm Passworrd</label>
                            <div class="pass-group">
                                <input asp-for="ConfirmPassword" type="password" class="pass-inputs">
                                <span class="fas toggle-passwords fa-eye-slash"></span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" color="red"></span>
                        </div>
                        <div class="form-login authentication-check">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="custom-control custom-checkbox justify-content-start">
                                        <div class="custom-control custom-checkbox">
                                            <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                                                <input asp-for="IsAgreement" type="checkbox">
                                                <span class="checkmarks"></span>I agree to the <a href="#" class="hover-a">Terms & Privacy</a>
                                            </label>
                                        </div>
                                        <span asp-validation-for="IsAgreement"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Sign Up</button>
                        </div>
                        <div class="signinform">
                            <h4>Already have an account ? <a asp-controller="Auth" asp-action="SignIn" class="hover-a">Sign In Instead</a></h4>
                        </div>
                        <div class="form-setlogin or-text">
                            <h4>OR</h4>
                        </div>
                        <div class="form-sociallink">
                            <ul class="d-flex">
                                <li>
                                    <a href="javascript:void(0);" class="facebook-logo">
                                        <img src="~/assets/img/icons/facebook-logo.svg" alt="Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/google.png" alt="Google">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="apple-logo">
                                        <img src="~/assets/img/icons/apple-logo.svg" alt="Apple">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                            <p>Copyright &copy; 2023 DreamsPOS. All rights reserved</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="customizer-links" id="setdata">
    <ul class="sticky-sidebar">
        <li class="sidebar-icons">
            <a href="#" class="navigation-add" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Theme">
                <i data-feather="settings" class="feather-five"></i>
            </a>
        </li>
    </ul>
</div>