@{
    ViewData["Title"] = "ResetPassword Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper forgot-pass-wrap bg-img">
            <div class="login-content">
                <form asp-controller="Auth" asp-action="ResetPassword">
                    <div class="login-userset">
                        <div class="login-logo logo-normal">
                            <img src="~/assets/img/trade-lenda.png" alt="img">
                        </div>
                        <a href="index.html" class="login-logo logo-white">
                            <img src="~/assets/img/logo-white.png" alt>
                        </a>
                        <div class="login-userheading">
                            <h3>Reset password?</h3>
                            <h4>Fill in the details below to reset your password</h4>
                        </div>
                        <div class="form-login">
                            <label>New Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Confirm New Passworrd</label>
                            <div class="pass-group">
                                <input type="password" class="pass-inputs">
                                <span class="fas toggle-passwords fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Reset Password</button>
                        </div>
                       
                        <div class="form-sociallink">
                            <ul class="d-flex justify-content-center">
                                <li>
                                    <a href="javascript:void(0);" class="facebook-logo">
                                        <img src="~/assets/img/icons/facebook-logo.svg" alt="Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/google.png" alt="Google">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="apple-logo">
                                        <img src="~/assets/img/icons/apple-logo.svg" alt="Apple">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                            <p>Copyright &copy; 2024 TradeLenda. All rights reserved</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="customizer-links" id="setdata">
    <ul class="sticky-sidebar">
        <li class="sidebar-icons">
            <a href="#" class="navigation-add" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Theme">
                <i data-feather="settings" class="feather-five"></i>
            </a>
        </li>
    </ul>
</div>
